*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Roboto', sans-serif;
  }
  body{
	background-color: darkgray;
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100PX 0;
  }
  
  h1{
  font-size: 10rem;
  color: rgb(93, 56, 244);
  border-radius: 10px;
  }
  
  button{
	background: none;
	outline: none;
	border: 2px solid white;
	padding: 20px;
	border-radius: 10px;
	margin: 5px;
	color: black;
	font-size: 30px;
	background-color: rgb(133, 105, 245);
	cursor: pointer;
  }
