* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Tahoma, sans-serif
}

:root {
	--white: #e6e6e6;

}

body {
	background-color: var(--white);
}

main {
	padding: 3rem 2rem;
	max-width: 640px;
	margin: 0 auto;
}

h1 {
	color: rgb(93, 56, 244);
	font-size: 4rem;
}

.display{
	color: rgb(0, 0, 0);
	font-size: 2.5rem;
}