*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

#bodyCounter{
	background: rgba(100, 51, 152, 0.763);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
}

h2{
	font-size: 7.5em;
}

.Inc{
	background-color:whitesmoke;
	font-size: 3em;
	padding: 30px;
}

.Dec{
	background-color:whitesmoke;
	font-size: 3em;
	padding: 30px;
	margin-left: 50px;
}
